
/* GMAIL BLOCK */

.gmail_block {
    background-image: url("https://abrakadabra.fun/uploads/posts/2022-01/1641360824_8-abrakadabra-fun-p-zadnii-fon-anime-naruto-9.jpg");
    padding: 100px 0;
    background-size: cover;
}

.gmail_block h3 {
    color: #030303;
}

.inner_gmail_block {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 40px;
    box-shadow: 2px 4px 4px rgb(255, 100, 0);
    height: 300px;
    align-items: center;
}

.form_gmail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_gmail button {
    width: 100%;
    margin: 20px 0;
}

/* MOVE BLOCK */

.move_block {
    /*background: black;*/
    padding: 100px 0;
    background-image: url("../images/naruto_bi.jpg");
    background-size: cover;


}

.parent_block {
    display: flex;
    height: 600px;
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.parent_block img {
    height: 319px;
    width: 235px;

}

.child_block {
    position: absolute;
}
.child_block img{
    width: 200px;
    height: 200px;

}

.inner_move_block {
    margin-top: 50px;

}

/* STOP WATCH */

.time {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 80px;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid black;
    margin-top: 40px;
}

.time_block {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.stopwatch {
    padding: 100px 0;
    background: orange;
}

.time_buttons {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
